<% if @visible_employees.empty? %>
  <p><em>You have no current employees at this time.</em></p>
<% else %>
  <h3>Current Employees</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Currently Assigned</th>
        <th>Role</th>
        <% if can? :update, Employee %>
          <th>&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @visible_employees.each do |employee| %>
        <tr>
          <td><%= link_to employee.name, employee_path(employee) %></td>
          <td><%= number_to_phone employee.phone unless employee.phone.nil?  %></td>
          <td><%= link_to employee.current_assignment.store.name, store_path(employee.current_assignment.store) unless employee.current_assignment.nil? %></td>
          <td><%= employee.role.capitalize %></td>
          <% if can? :update, employee %>
            <td>
              <%= link_to "Edit", edit_employee_path(employee) %>
              <%# link_to(edit_employee_path(employee), class: 'button tiny radius warning') do %>
                <!--&nbsp;Edit&nbsp;-->
              <%# end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @visible_employees, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
<% end %>