<%= simple_nested_form_for @employee, :html => { :class => 'form-horizontal' } do |employee_form| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Employee</legend>
    <div class="row">
      <div class="span7">
          <%= render :partial => "employee_fields", :locals => { :f => employee_form } %>
          <div class="span5">
            <div id="employee_user">
              <%= employee_form.simple_fields_for :user do |user_form| %>
                <%= render :partial => "user_fields", :locals => { :f => user_form } %>
              <% end %> 
            </div> 
          </div>
        </div>
    </div>
  </fieldset>
  <div class="form-actions">
    <%= employee_form.submit nil, :class => 'button' %>
    <% if controller.action_name == "edit" then %>
      <%= link_to 'Cancel', employee_path(@employee), :class => 'button secondary' %>
    <% else %>
      <%= link_to 'Cancel', employees_path, :class => 'button secondary' %>
    <% end %>
  </div>
<% end %>