<%= simple_form_for @employee, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Employee</legend>

    <%= f.input :first_name, input_html: {class: "avg"} %>
    <%= f.input :last_name, input_html: {class: "avg"} %>
    <%= f.input :ssn, input_html: {class: "avg"} %>
    <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 13,
                              end_year: Date.today.year - 90,
                              order: [:month, :day, :year], include_blank: true, input_html: {class: "avg"} %>

    <%= f.input :phone, input_html: {class: "avg"} %>
    <%= f.input :role, collection: Employee::ROLES_LIST, include_blank: true, input_html: {class: "avg"} %>
    <%= f.input :active %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', employees_path, :class => 'button alert radius' %>
    </div>
  </fieldset>
<% end %>