<% if @active_stores.empty? %>
  <p><em>There are no active stores at this time.</em></p>
<% else %>
  <h4><b>Current Stores</b></h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Store Name</th>
        <th width="225">Store Phone</th>
        <% if !current_user.nil? and current_user.employee.role? :admin %>
          <th width="125">Staff Count</th>
        <% end %>
        <% if can? :update, Store %>
          <th width="75">&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @active_stores.each do |store| %>
        <tr>
          <td><%= link_to store.name, store_path(store) %></td>
          <td><%= number_to_phone store.phone %></td>
          <% if !current_user.nil? and current_user.employee.role? :admin %>
            <td><%= store.assignments.current.count %></td>  
          <% end %>    
          <% if can? :update, store %>
            <td>
              <%= link_to "Edit", edit_store_path(store) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @active_stores, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %> <p>&nbsp;</p>
<% end %>