<%= simple_form_for @store, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Store</legend>

    <%= f.input :name, input_html: {class: "avg"} %>
    <%= f.input :street, input_html: {class: "avg"} %>
    <%= f.input :city, input_html: {class: "avg"} %>
    <%= f.input :state, collection: Store::STATES_LIST, include_blank: true, input_html: {class: "avg"} %>
    <%= f.input :zip, input_html: {class: "avg"} %>
    <%= f.input :phone, input_html: {class: "avg"} %>
    <%= f.input :active %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', stores_path, :class => 'button alert radius' %>
    </div>
  </fieldset>
<% end %>