<br \>
<h3><b>Store Details</b></h3>
<p>
  <b>Name:</b> <%= @store.name %>
</p>

<p>
  <b>Address:</b><br>
  <%= @store.street %><br />
  <%= @store.city %>, <%= @store.state %> <%= @store.zip %>
</p>

<p>
  <b>Phone:</b><br>
  <%= number_to_phone @store.phone %>
</p>

<% if !current_user.nil? and current_user.employee.role? :admin %>
<p>
  <b>Active:</b> 
  <%= @store.active ? "Yes" : "No" %>
</p>
<% end %>
<br \><br \>

<% if current_user.nil? or !current_user.employee.role? :admin %>
	<%= link_to stores_path, class: 'button' do %>
	      &nbsp;Back to All Stores
	<% end %>
<% end %>