<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation"> 
    <section class="top-bar-section">
      <ul class="left">
        <!-- link to home -->
        <li><%= link_to "Home", home_path %></li>

        <% if current_user.nil? %>
          <li><%= link_to "About", about_path %><li>
        <% end %>

        <% if !current_user.nil? and current_user.employee.role? :admin %>
          <li><%= link_to "Manager Directory", manager_directory_path %><li>
        <% end %>

        <% if !current_user.nil? and current_user.employee.role? :admin %>
        <!-- options for stores -->
        <li class="has-dropdown">
          <%= link_to "Stores", stores_path %>
          <ul class="dropdown">
            <li><%= link_to "Store List", stores_path %></li>
            <li><%= link_to "Add a Store", new_store_path %></li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to "Our Stores", stores_path %></li>
        <% end %>

        <% if !current_user.nil? and current_user.employee.role? :manager %> 
          <li><%= link_to "Employee List", employees_path %></li>
        <% end %>       

        <% if !current_user.nil? and current_user.employee.role? :admin %>
          <!-- options for employees -->
          <li class="has-dropdown">
            <%= link_to "Employees", employees_path %>
            <ul class="dropdown">
              <li><%= link_to "Employee List", employees_path %></li>
              <% if current_user.employee.role? :admin %>
                <li><%= link_to "Add an Employee", new_employee_path %></li>
              <% end %>
            </ul>
          </li>

          <% if !current_user.nil? and current_user.employee.role? :admin %>
            <!-- options for assignments -->
            <li class="has-dropdown">
              <%= link_to "Assignments", assignments_path %>
              <ul class="dropdown">
                <li><%= link_to "Assignments List", assignments_path %></li>
                <li><%= link_to "Create New Assignment", new_assignment_path %></li>
              </ul>
            </li>
          <% end %>
        <% end %>

        <% if !current_user.nil? and (current_user.employee.role? :employee or current_user.employee.role? :manager)%>
          <li><%= link_to "My Info", employee_path(current_user.employee) %><li>
        <% end %>

        <% if current_user.nil? %>
          <li><%= link_to "Contact Us", contact_path %><li>
        <% end %>

      </ul>
      <ul class="right">
        <%= render :partial => "partials/login" %>
      </ul>
    </section>
  </nav>
</div>