<h3>Shifts to Complete</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @incomplete_shifts.each do |shift| %>
      <tr>
        <td><%= link_to shift.employee.name, employee_path(shift.employee) %></td>
        <td><%= shift.date.strftime("%m/%d/%y") %></td>
        <td><%= (shift.start_time.localtime).strftime("%l:%M %p") %></td>
        <td><%= (shift.end_time.localtime).strftime("%l:%M %p") %></td>
        <td><%= link_to "Add Jobs", edit_shift_path(shift, type: "add_job") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @incomplete_shifts, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => "incomplete_shifts" %>