<%= simple_nested_form_for @shift, :html => { :class => 'form-horizontal' } do |shift_form| %>
  <div class="row">
    <% if params[:type] == "create_edit" %>
      <div class="span7" >
        <fieldset>
          <legend><%= controller.action_name.capitalize %> Shift</legend>
          <%= render :partial => "shift_fields", :locals => {:f => shift_form} %>
        </fieldset>
      </div>
    <% end %>
    <div class="span5">
      <div id="shift_jobs">
        <%= shift_form.simple_fields_for :shift_jobs do |shift_job_form| %>
        	<%= render :partial => "shift_job_fields", :locals => {:f => shift_job_form} %>
        <% end %>
        <p>
          <br \><%= shift_form.link_to_add("Add Job", :shift_jobs, :class => 'button tiny') %>
        </p>
      </div>
    </div>
  </div>
  <div class="form-actions">
      <%= shift_form.submit nil, :class => 'button' %>
      <%= link_to 'Cancel', home_path, :class => 'button secondary' %>
  </div>
<% end %> 